body {
    width: 98%;
    background-color: beige;
    display: flex;
    justify-content: center;
}

body > div {
    width: 800px;
    background-color: white;
    display: block;
}

.snail {
    width: 100px;
    position: relative;
}

.snail img {
    width: 100%;
}

.raceBox {
    margin-left: 100px;
    margin-right: 100px;
    width: 100%;
}

.bettingCenter {
    list-style: none;
}